<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
    <!--  게시물 전체 개수 조회  -->
    <select id="selectBoardCnt" resultType="int">
        SELECT COUNT(*)
          FROM board
    </select>

    <!-- 게시물 전체 조회-->
    <select id="selectBoardList" parameterType="String" resultType="boardVo">
        SELECT b.board_no                            AS boardNo,
               (SELECT name
                  FROM category c
                 WHERE b.category_no = c.category_no) AS categoryName,
               b.title,
               b.writer,
               b.view_count                          AS viewCount,
               b.register_date                       AS registerDate,
               b.modify_date                         AS registerDate
          FROM board b
    </select>
</mapper>
