<?xml version="1.0" encoding="utf-8" ?>

<configuration debug="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--  LOG 출력 PATTERN  -->
        <!-- [날짜] / [로그 레벨] / [쓰레드] / [클래스.메서드:라인넘버] / msg -->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %highlight([%-5level]) %cyan([%C.%M:%line]) - %msg %n
            </pattern>
        </encoder>
    </appender>

    <!-- LOG LEVEL -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
