.container {
    border: 1px black solid;
    width: 1100px;
}

.row {
    margin: 0;
}

#startDate, #endDate {
    width: 130px;
}

.form-select {
    display: inline-block;
    width: 160px;
}

.form-control {
    display: inline-block;
}

input[name="searchContent"] {
    width: 350px;
}

.btn {
    width: 100px;
    height: 31px;
    line-height: 1.1;
    margin-bottom: 3px;
}

.search-wrap {
    border: 1px black solid;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.board-title {
    text-align: left;
}

.table-head {
    border-bottom: 2px black solid;
}

ul {
    margin: 0;
}
